node_modules
.turbo
dist
dist-ui
build
.docusaurus
coverage
pnpm-lock.yaml
*.tsbuildinfo
docs
assets
.git
.changeset/**
app/src-tauri/gen
*.md
!README.md
!MONOREPO.md
!**/packages/*/README.md
!app/README.md
!website/README.md
!plugins/**/*.md
!examples/**/*.md
